---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="My Work | Matt Hinsz"
	description="View Matt Hinsz's recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Recent Work"
				align="center"
			/>
			<div class="my-6">
				<Grid variant="offset">
					{
						projects.map((project) => (
							<li>
								<PortfolioPreview project={project} />
							</li>
						))
					}
				</Grid>
			</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
