<div class="pill bg-indigo-950"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		margin:.25rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		border-radius: 999rem;
		font-size: var(--text-md);
		line-height: 1.35;
		white-space: nowrap;
		font-family: var(--font-body);
	}
</style>
